# Python
__pycache__/
*.pyc
*.egg-info/
.venv/

# Emacs
*~
*#
.#*

# misc
.env
tmp/
.aider*
build/
docs/_build/
dist/

# Guile Hoot Artifacts
*.wasm
reflect.js
guile-dashboard/public/
guile-dashboard/server.log
guile-dashboard/server.pid

# RAI Artifacts
*.log
.nicegui/
webui/.nicegui/
.coverage
htmlcov/
site/
